<a href="#">Vessel name {{#if count}}<span class="badge">{{count}}</span>{{/if}}</a>
<div id="submenu-vessel-name" class="menu-canvas">
  <h3 class="menu-canvas-title">Vessel name</h3>
  <div class="menu-canvas-content">
    <div class="menu-item-description">Please type one or more words (or even partial words) that should appear in the name of the vessel. The search is case insensitive.</div>
    {{#paper-form class="inline-form" onSubmit=(action "applyVesselName") as |form|}}
      {{form.input type="text" label=label value=vesselName onChange=(action (mut vesselName))}}
      <div class="element-container">
        <button type="button" class="btn btn-primary" disabled= {{applyDisabled}} {{action 'applyVesselName' on="mouseUp"}}>Apply</button>
        <button type="button" class="btn btn-primary" disabled= {{resetDisabled}} {{action 'removeSearch' on="mouseUp"}}>Reset</button>
      </div>
    {{/paper-form}}
  </div>
</div>

{{yield}}
