<a href="#">Captain's name {{#if count}}<span class="badge">{{count}}</span>{{/if}}</a>
<div id="submenu-captain-name" class="menu-canvas">
  <h3 class="menu-canvas-title">Captain's name</h3>
  <div class="menu-canvas-content">
    <div class="menu-item-description">The captain's name of the vessels involved in the voyage. The name is case insensitive.</div>
    {{#paper-form class="inline-form" onSubmit=(action "apply") as |form|}}
      {{form.input type="text" label=label value=captainName onChange=(action (mut captainName))}}
      <div class="element-container">
        <button type="button" class="btn btn-primary" disabled= {{applyDisabled}} {{action 'apply' on="mouseUp"}}>Apply</button>
        <button type="button" class="btn btn-primary" disabled= {{resetDisabled}} {{action 'removeSearch' on="mouseUp"}}>Reset</button>
      </div>
    {{/paper-form}}
  </div>
</div>

{{yield}}
