{{outlet}}

<div class="sub-menu col-md-12">
  <h1 class="banner-title">Image Gallery</h1>
  <div class="search-bar">

    {{#menu-aim}}
      <div class="dropdown padding-left-none">
        <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        1855 - 1867
        <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="time-range">
          <li><a href="#">Date Time (placeholder)</a></li>
        </ul>
      </div>
    {{/menu-aim}}

    {{#menu-aim}}
      <div class="dropdown">
        <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Search category
        <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="nation-ship-owners">

          <li data-submenu-id="submenu-v-cdrom" style="height: 400px;">
            <a href="#">Search category {{#unless resetBtnEnabled}}<span class="badge">{{count}}</span>{{/unless}}</a>
            <div id="submenu-v-cdrom" class="menu-canvas">
              <h3 class="menu-canvas-title">Search category</h3>
              <div class="menu-canvas-content">
                <div class="menu-item-description">Whether to include images from specific categories (manuscripts, places, slaves, and vessels)</div>
                <!-- The Toggle -->

                <div class="menu-canvas-element">

                  <div class="element-container">
                    {{input type="checkbox" checked=manuscriptsChecked id="test1" class="cbx hidden"}}
                    <label for="test1" class="lbl"></label>
                    <div class="menu-canvas-element-label">Manuscripts</div>
                  </div>

                  <div class="element-container">
                    {{input type="checkbox" checked=placesChecked id="test2" class="cbx hidden"}}
                    <label for="test2" class="lbl"></label>
                    <div class="menu-canvas-element-label">Places</div>
                  </div>

                  <div class="element-container">
                    {{input type="checkbox" checked=slavesChecked id="test3" class="cbx hidden"}}
                    <label for="test3" class="lbl"></label>
                    <div class="menu-canvas-element-label">Slaves</div>
                  </div>

                  <div class="element-container">
                    {{input type="checkbox" checked=vesselsChecked id="test4" class="cbx hidden"}}
                    <label for="test4" class="lbl"></label>
                    <div class="menu-canvas-element-label">Vessels</div>
                  </div>

                  <div class="element-container">
                    <button type="button" class="btn btn-primary" disabled= {{updateBtnEnabled}} {{action 'toggleCdrom' on="mouseUp"}}>Apply</button>
                    <button type="button" class="btn btn-primary" disabled= {{resetBtnEnabled}} {{action "resetCdrom" on="mouseUp"}}>Reset</button>
                  </div>

                </div>
                <!-- <div class="row press">
                  <input type="checkbox" id="checked" class="cbx hidden" checked/>
                  <label for="checked" class="lbl"></label>
                </div>
                 <div class="row">
                  <input type="checkbox" id="unchecked_disabled" class="cbx hidden" disabled/>
                  <label for="unchecked_disabled" class="lbl"></label>
                </div> -->

              </div>
            </div>
          </li>

        </ul>
      </div>


    {{/menu-aim}}

    {{#menu-aim}}
      <div class="dropdown padding-left-none">
        <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Search keyword
        <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="time-range">
          <li><a href="#">Search keyword (placeholder)</a></li>
        </ul>
      </div>
    {{/menu-aim}}

  </div>
</div>

<div class="sv-container">
  <div class="row">
    <div class="col-md-12 sv-image-gallery-title">
      <h3>Manuscripts (4)</h3>
    </div>


    {{#photo-swipe items=model as |img|}}
      <div class="col-md-3 text-center">
        <img class="thumb" src= {{img.src}} alt= {{img.title}} height="500px">
        <p class='image-gallery'>{{img.title}}</p>
      </div>
    {{/photo-swipe}}

  </div>
</div>
