
<div class="sub-menu col-md-12">
  <h1 class="banner-title">Databases > Slave Voyages</h1>
  <div class="search-bar">

    {{#menu-aim}}
    <div class="dropdown padding-left-none">
      {{#control-year-range}}{{/control-year-range}}
    </div>
    {{/menu-aim}}

    {{#menu-aim}}
    <div class="dropdown">
      <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ship, nation, owner {{#if voyagesSearch.shipNationOwnerCount}}({{voyagesSearch.shipNationOwnerCount}}){{/if}}
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="nation-ship-owners">
        {{#control-vid tagName="li"}}{{/control-vid}}
        {{#control-vessel-name tagName="li"}}{{/control-vessel-name}}
        {{#control-vessel-owner tagName="li"}}{{/control-vessel-owner}}

        {{#if voyagesSearch.showAdvanced}}
        <li data-submenu-id="submenu-v-cdrom">
          <a href="#">Voyage in 1999 CD-ROM</a>
          <div id="submenu-v-cdrom" class="menu-canvas">
              <h3 class="menu-canvas-title">Voyage in 1999 CD-ROM</h3>
              <div class="menu-canvas-content">
                <div class="menu-item-description">Whether to include voyages that were originally published in the CD-ROM format (Cambridge University Press, 1999)</div>
              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-flag" >
          <a href="#">Flag</a>
          <div id="submenu-flag" class="menu-canvas">
              <h3 class="menu-canvas-title">Flag</h3>
              <div class="menu-canvas-content">
                Filter by name of the flag
              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-construction-registration"><a href="#">Construction and registration</a>
          <div id="submenu-construction-registration" class="menu-canvas">
              <h3 class="menu-canvas-title">Construction and registration</h3>
              <div class="menu-canvas-content">
                Filter by the construction and registration status, which includes the year and place of construction and registration.
              </div>
          </div>
        </li>
        <li data-submenu-id="submenu-rig"><a href="#">Rig</a>
          <div id="submenu-rig" class="menu-canvas">
              <h3 class="menu-canvas-title">Rig</h3>
              <div class="menu-canvas-content">
                Filter by the rig
              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-tonnage"><a href="#">Tonnage</a>
          <div id="submenu-tonnage" class="menu-canvas">
              <h3 class="menu-canvas-title">Tonnage</h3>
              <div class="menu-canvas-content">
                Filter by tonnage
              </div>
          </div>
        </li>

        <li data-submenu-id="submenu-guns-mounted"><a href="#">Guns mounted</a>
          <div id="submenu-guns-mounted" class="menu-canvas">
              <h3 class="menu-canvas-title">Guns mounted</h3>
              <div class="menu-canvas-content">
                Filter by guns mounted on the ship
              </div>
          </div>
        </li>
        {{/if}}

      </ul>
    </div>
    {{/menu-aim}}

    {{#menu-aim}}
    <div class="dropdown">
      <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Captain and crew {{#if voyagesSearch.captainCrewCount}}({{voyagesSearch.captainCrewCount}}){{/if}}
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="nation-ship-owners">
        {{#control-captain-name tagName="li"}}{{/control-captain-name}}
      </ul>
    </div>
    {{/menu-aim}}

    {{#if voyagesSearch.showAdvanced}}
      {{#menu-aim}}
      <div class="dropdown">
        <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Source
          <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="nation-ship-owners">
          <li data-submenu-id="submenu-advaned-example"><a href="#">Source</a>
            <div id="submenu-advaned-example" class="menu-canvas">
                <h3 class="menu-canvas-title">Source</h3>
                <div class="menu-canvas-content">
                  Advanced filter here
                </div>
            </div>
          </li>
        </ul>
      </div>
      {{/menu-aim}}
    {{/if}}

    {{#if voyagesSearch.showReset}}
      <!-- <span class="search-bar-button" {{action "resetAll"}}>Reset all</span> -->
    {{/if}}

    {{#menu-aim}}
      <div class="dropdown padding-left-none pull-right">
        <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{fa-icon "share-alt" size=11}}
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="time-range">
          <li><a href="#">Shareable search</a></li>
        </ul>
      </div>
    {{/menu-aim}}

    {{#menu-aim}}
      {{#control-settings}}{{/control-settings}}
    {{/menu-aim}}

  </div>
</div>

<div class="padding tabular-menu">
<div class="row">
<div class="col-md-12">
<ul class="nav navbar-nav content-tab">
  {{#link-to "databases.voyages.search.results" tagName="li"}}<a href="">Results</a>{{/link-to}}
  {{#link-to "databases.voyages.search.statistics" tagName="li"}}<a href="">Statistics</a>{{/link-to}}
  {{#link-to "databases.voyages.search.tables" tagName="li"}}<a href="">Tables</a>{{/link-to}}
  {{#link-to "databases.voyages.search.graphs" tagName="li"}}<a href="">Graphs</a>{{/link-to}}
  {{#link-to "databases.voyages.search.timeline" tagName="li"}}<a href="">Timeline</a>{{/link-to}}
  {{#link-to "databases.voyages.search.maps" tagName="li"}}<a href="">Maps</a>{{/link-to}}
  {{#link-to "databases.voyages.search.animation" tagName="li"}}<a href="">Animation</a>{{/link-to}}
</ul>
</div>
</div>
</div>

{{outlet}}
